<div>
    <div class='col-md-9 col-xs-12 social'>
        <div>
            <h2> Connect with</h2>
        </div>
        <div class="icon">
            <a href="https://www.facebook.com/"><img src="images/fbb.png" /></a>
        </div>
        <div class="icon">
            <a href="https://twitter.com/login?lang=en"><img src="images/t1.png" /></a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/uas/login"><img src="images/inn.png" /></a>
        </div>
        <div class="icon">
            <a href="https://www.youtube.com/"><img src="images/you1.png" /></a>
        </div>
    </div>
    <div class='col-md-3 col-xs-12 pull-right'>
        <div>
            <img class="ghost-image" id='logo' width="178" height="178" src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_180x180_v1.png">
        </div>
        <div>
            <button type="button" class="btn btn-info btn-lg move" ng-click='fnLogin()'>User Login</button>
        </div>
    </div>
</div>
