<div class='header ' ng-controller='UserdetailsCtrl'>
    <div class='col-md-3 col-xs-12'>
        <img src="images/image.png" height=80px width=80px>
    </div>
    <div class='col-md-9 col-xs-12 '>
        <h2> Please Login here.....!</h2>
        <div>
            <h4>{{data()}}{{login.uname}}</h4>
        </div>
        <div>
            <span class="glyphicon glyphicon-user pull-right" id='right'></span>
        </div>
        <div class="btn-group open pull-right">
            <button data-toggle="dropdown" class="btn dropdown-toggle ng-scope car" tooltip-placement="bottom"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="http://www.tutorialspoint.com/javascript/">Javascript</a></li>
                <li><a href="https://angularjs.org/">Angular</a></li>
                <li><a href="http://getbootstrap.com/javascript/">Bootstrap</a></li>
            </ul>
        </div>
    </div>
</div>
