<form class='f1 col-xs-12'>
    <div class="form-group">
        <label for="userName">Email address</label>
        <input type="text" class="form-control" ng-model="data.username" placeholder="User Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" ng-model="data.password" placeholder="Password">
    </div>
    <button type="button" class="btn btn-info btn-lg" ng-click='fnSubmit()'>Submit</button>
    <button type="reset" class="btn btn-info btn-lg">Reset</button>
</form>
 
